USE [DataWarehouse]
GO
/****** Oggetto: Table [gold].[customer_churn_status] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[customer_churn_status](
	[customer_key] [int] NOT NULL,
	[target_churned] [nvarchar](3) NOT NULL,
 CONSTRAINT [PK_customer_churn_status] PRIMARY KEY CLUSTERED 
(
	[customer_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [gold].[customer_churn_status]  WITH CHECK ADD  CONSTRAINT [FK_customer_churn_status_clienti] FOREIGN KEY([customer_key])
REFERENCES [gold].[dim_clienti] ([customer_key])
GO
ALTER TABLE [gold].[customer_churn_status] CHECK CONSTRAINT [FK_customer_churn_status_clienti]
GO
