USE [DataWarehouse]
GO
/****** Oggetto: Table [gold].[association_rules]    Data dello script 22/09/2026 14:38:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[association_rules](
	[antecedente] [nvarchar](100) NOT NULL,
	[conseguente] [nvarchar](100) NOT NULL,
	[support] [decimal](10, 2) NOT NULL,
	[confidence] [decimal](10, 2) NOT NULL,
	[lift] [decimal](10, 2) NOT NULL,
	[data_generazione] [date] NOT NULL,
 CONSTRAINT [PK_association_rules] PRIMARY KEY CLUSTERED 
(
	[antecedente] ASC,
	[conseguente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
