USE [DataWarehouse]
GO
/****** Oggetto: Table [gold].[stock_forecast] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[stock_forecast](
	[categoria] [nvarchar](50) NOT NULL,
	[data_mese] [date] NOT NULL,
	[quantita_prevista] [int] NOT NULL,
 CONSTRAINT [PK_stock_forecast] PRIMARY KEY CLUSTERED 
(
	[categoria] ASC,
	[data_mese] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
