USE [DataWarehouse]
GO
/****** Oggetto: Table [silver].[campagne] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[campagne](
	[nome_campagna] [nvarchar](50) NULL,
	[data_inizio] [date] NULL,
	[data_fine] [date] NULL,
	[budget] [float] NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [silver].[campagne_prodotti] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[campagne_prodotti](
	[nome_campagna] [nvarchar](50) NULL,
	[product_code] [int] NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [silver].[clienti] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[clienti](
	[customer_code] [nvarchar](50) NULL,
	[nome] [nvarchar](50) NULL,
	[cognome] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[data_nascita] [date] NULL,
	[sesso] [nvarchar](10) NULL,
	[nazionalita] [nvarchar](50) NULL,
	[citta] [nvarchar](50) NULL,
	[paese] [nvarchar](50) NULL,
	[data_registrazione] [date] NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [silver].[corriere] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[corriere](
	[corriere] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [silver].[customer_code_map] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[customer_code_map](
	[customer_code_originale] [nvarchar](50) NULL,
	[customer_code_canonico] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [silver].[giacenze] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[giacenze](
	[product_code] [int] NULL,
	[data_rilevazione] [date] NULL,
	[quantita_disponibile] [int] NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [silver].[prodotti] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[prodotti](
	[product_code] [int] NULL,
	[nome_prodotto] [nvarchar](50) NULL,
	[categoria] [nvarchar](50) NULL,
	[sottocategoria] [nvarchar](50) NULL,
	[prezzo_listino] [float] NULL,
	[costo] [float] NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [silver].[product_code_map] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[product_code_map](
	[product_code_originale] [int] NULL,
	[product_code_canonico] [int] NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [silver].[vendite] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [silver].[vendite](
	[order_id] [nvarchar](50) NULL,
	[order_line] [int] NULL,
	[order_date] [date] NULL,
	[customer_code] [nvarchar](50) NULL,
	[product_code] [int] NULL,
	[quantity] [int] NULL,
	[unit_price] [float] NULL,
	[discount_pct] [int] NULL,
	[payment_method] [nvarchar](50) NULL,
	[order_status] [nvarchar](20) NULL,
	[data_spedizione] [date] NULL,
	[data_consegna] [date] NULL,
	[corriere] [nvarchar](50) NULL,
	[costo_spedizione] [float] NULL,
	[totale_riga] [float] NULL
) ON [PRIMARY]
GO
