USE [DataWarehouse]
GO
/****** Oggetto: Table [gold].[dim_campagne] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_campagne](
	[campaign_key] [int] IDENTITY(1,1) NOT NULL,
	[nome_campagna] [nvarchar](50) NOT NULL,
	[data_inizio] [date] NULL,
	[data_fine] [date] NULL,
	[budget] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[campaign_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Oggetto: Table [gold].[dim_clienti] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_clienti](
	[customer_key] [int] IDENTITY(1,1) NOT NULL,
	[customer_code] [nvarchar](50) NOT NULL,
	[nome] [nvarchar](50) NULL,
	[cognome] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[data_nascita] [date] NULL,
	[sesso] [nvarchar](10) NULL,
	[nazionalita] [nvarchar](50) NULL,
	[paese] [nvarchar](50) NULL,
	[citta] [nvarchar](50) NULL,
	[data_registrazione] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Oggetto: Table [gold].[dim_corriere] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_corriere](
	[carrier_key] [int] IDENTITY(1,1) NOT NULL,
	[corriere] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[carrier_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Oggetto: Table [gold].[dim_prodotti] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[dim_prodotti](
	[product_key] [int] IDENTITY(1,1) NOT NULL,
	[product_code] [int] NOT NULL,
	[nome_prodotto] [nvarchar](50) NULL,
	[categoria] [nvarchar](50) NULL,
	[sottocategoria] [nvarchar](50) NULL,
	[prezzo_listino] [float] NULL,
	[costo] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Oggetto: Table [gold].[fact_campagne_prodotti] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[fact_campagne_prodotti](
	[campaign_key] [int] NOT NULL,
	[product_key] [int] NOT NULL,
 CONSTRAINT [PK_campagne_prodotti] PRIMARY KEY CLUSTERED 
(
	[campaign_key] ASC,
	[product_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Oggetto: Table [gold].[fact_giacenze] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[fact_giacenze](
	[product_key] [int] NOT NULL,
	[data_rilevazione] [date] NULL,
	[quantita_disponibile] [int] NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [gold].[fact_vendite] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[fact_vendite](
	[order_id] [nvarchar](50) NULL,
	[order_line] [int] NULL,
	[customer_key] [int] NOT NULL,
	[product_key] [int] NOT NULL,
	[carrier_key] [int] NULL,
	[data_ordine] [date] NULL,
	[data_spedizione] [date] NULL,
	[data_consegna] [date] NULL,
	[quantita] [int] NULL,
	[prezzo_unitario] [float] NULL,
	[sconto] [int] NULL,
	[totale_riga] [float] NULL,
	[costo_spedizione] [float] NULL,
	[metodo_pagamento] [nvarchar](50) NULL,
	[stato_ordine] [nvarchar](20) NULL
) ON [PRIMARY]
GO
ALTER TABLE [gold].[fact_campagne_prodotti]  WITH CHECK ADD  CONSTRAINT [FK_campagne_prodotti_campagna] FOREIGN KEY([campaign_key])
REFERENCES [gold].[dim_campagne] ([campaign_key])
GO
ALTER TABLE [gold].[fact_campagne_prodotti] CHECK CONSTRAINT [FK_campagne_prodotti_campagna]
GO
ALTER TABLE [gold].[fact_campagne_prodotti]  WITH CHECK ADD  CONSTRAINT [FK_campagne_prodotti_prodotto] FOREIGN KEY([product_key])
REFERENCES [gold].[dim_prodotti] ([product_key])
GO
ALTER TABLE [gold].[fact_campagne_prodotti] CHECK CONSTRAINT [FK_campagne_prodotti_prodotto]
GO
ALTER TABLE [gold].[fact_giacenze]  WITH CHECK ADD  CONSTRAINT [FK_fact_giacenze_prodotto] FOREIGN KEY([product_key])
REFERENCES [gold].[dim_prodotti] ([product_key])
GO
ALTER TABLE [gold].[fact_giacenze] CHECK CONSTRAINT [FK_fact_giacenze_prodotto]
GO
ALTER TABLE [gold].[fact_vendite]  WITH CHECK ADD  CONSTRAINT [FK_fact_vendite_cliente] FOREIGN KEY([customer_key])
REFERENCES [gold].[dim_clienti] ([customer_key])
GO
ALTER TABLE [gold].[fact_vendite] CHECK CONSTRAINT [FK_fact_vendite_cliente]
GO
ALTER TABLE [gold].[fact_vendite]  WITH CHECK ADD  CONSTRAINT [FK_fact_vendite_corriere] FOREIGN KEY([carrier_key])
REFERENCES [gold].[dim_corriere] ([carrier_key])
GO
ALTER TABLE [gold].[fact_vendite] CHECK CONSTRAINT [FK_fact_vendite_corriere]
GO
ALTER TABLE [gold].[fact_vendite]  WITH CHECK ADD  CONSTRAINT [FK_fact_vendite_prodotto] FOREIGN KEY([product_key])
REFERENCES [gold].[dim_prodotti] ([product_key])
GO
ALTER TABLE [gold].[fact_vendite] CHECK CONSTRAINT [FK_fact_vendite_prodotto]
GO
