USE [DataWarehouse]
GO
/****** Oggetto: Table [gold].[customer_segments] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [gold].[customer_segments](
	[customer_key] [int] NOT NULL,
	[cluster_id] [tinyint] NOT NULL,
	[etichetta_segmento] [nvarchar](100) NOT NULL,
	[data_generazione] [date] NOT NULL,
 CONSTRAINT [PK_customer_segments] PRIMARY KEY CLUSTERED 
(
	[customer_key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [gold].[customer_segments]  WITH NOCHECK ADD  CONSTRAINT [FK_customer_segments_clienti] FOREIGN KEY([customer_key])
REFERENCES [gold].[dim_clienti] ([customer_key])
GO
ALTER TABLE [gold].[customer_segments] CHECK CONSTRAINT [FK_customer_segments_clienti]
GO
