USE [DataWarehouse]
GO
/****** Oggetto: Table [bronze].[campagne] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[campagne](
	[nome_campagna] [nvarchar](50) NULL,
	[prodotti_coinvolti] [nvarchar](max) NULL,
	[data_inizio] [nvarchar](20) NULL,
	[data_fine] [nvarchar](20) NULL,
	[budget] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Oggetto: Table [bronze].[clienti] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[clienti](
	[customer_code] [nvarchar](50) NULL,
	[nome] [nvarchar](50) NULL,
	[cognome] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[data_nascita] [nvarchar](20) NULL,
	[sesso] [nvarchar](20) NULL,
	[nazionalita] [nvarchar](50) NULL,
	[citta] [nvarchar](50) NULL,
	[paese] [nvarchar](50) NULL,
	[data_registrazione] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [bronze].[giacenze] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[giacenze](
	[product_code] [int] NULL,
	[data_rilevazione] [nvarchar](20) NULL,
	[quantita_disponibile] [int] NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [bronze].[prodotti] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[prodotti](
	[product_code] [int] NULL,
	[nome_prodotto] [nvarchar](50) NULL,
	[categoria] [nvarchar](50) NULL,
	[sottocategoria] [nvarchar](50) NULL,
	[prezzo_listino] [nvarchar](20) NULL,
	[costo] [nvarchar](20) NULL
) ON [PRIMARY]
GO
/****** Oggetto: Table [bronze].[vendite] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [bronze].[vendite](
	[order_id] [nvarchar](50) NULL,
	[order_line] [int] NULL,
	[order_date] [nvarchar](20) NULL,
	[customer_code] [nvarchar](50) NULL,
	[product_code] [nvarchar](20) NULL,
	[quantity] [int] NULL,
	[unit_price] [nvarchar](20) NULL,
	[discount_pct] [float] NULL,
	[payment_method] [nvarchar](50) NULL,
	[order_status] [nvarchar](50) NULL,
	[data_spedizione] [nvarchar](20) NULL,
	[data_consegna] [nvarchar](20) NULL,
	[corriere] [nvarchar](50) NULL,
	[costo_spedizione] [float] NULL,
	[totale_riga] [float] NULL
) ON [PRIMARY]
GO
